{% extends "layout.html" %}

{% block content%}

    <div class="jumbotron">
        <h2>Clases de Final Fantasy</h2>

        A continuación se muestran las clases disponibles para la creación de personaje asi como sus modificadores y habilidades

        <table class="table table-striped">
        <thead>
            <tr>
              <th>Nombre de la clase</th>
              <th>Descripción</th>
              <th>Stat bonus</th>
              <th>Dados de vida</th>
              <th>Dados de magia</th>
              <th>Licencias de clase</th>
              <th>Habilidades de clase</th>
              <th>Boton de update</th>
            </tr>
        </thead>
        <tbody class="searchable">
            <form action="/update" method="get">
                {% for class in clases %}
                    <tr>
<!--                        <td contenteditable="true">{{class["name"]}}</td>-->
                        <td><input type="text" class="form-control" id="name" value="{{class['name']}}"></td>
                        <td><input type="text" class="form-control" id="description" value="{{class['description']}}"></td>
                        <td><input type="text" class="form-control" id="stat_bonus" value="{{class['stat_bonus']}}"></td>
                        <td><input type="text" class="form-control" id="dice_pv" value="{{class['dice_pv']}}"></td>
                        <td><input type="text" class="form-control" id="dice_pm" value="{{class['dice_pm']}}"></td>
                        <td><input type="text" class="form-control" id="licencias" value="{{class['licencias']}}"></td>
                        <td><input type="text" class="form-control" id="hab1" value="{{class['hab1']}}"></td>
    <!--                    <td><input class="button" href="/update">Update</input></td>-->
                        <td><button type="submit" class="btn btn-primary">Save changes</button></td>

                    </tr>
                {% endfor %}
            </form>

        </tbody>
    </table>

    </div>

{% endblock %}