{% extends "layout.html" %}

{% block content%}

    <div class="jumbotron">
        <h2>Clases de Final Fantasy</h2>

        A continuación se muestran las clases disponibles para la creación de personaje asi como sus modificadores y habilidades

        <table class="table table-striped">
        <thead>
            <tr>
              <th>Nombre de la clase</th>
              <th>Stat bonus</th>
              <th>Habilidades de clase</th>
              <th>Boton de borrado</th>
            </tr>
        </thead>
        <tbody class="searchable">
        {% for class in clases %}
                <tr>
                  <td>{{class["name"]}}</td>
                    <td>{{class["stat"]}}</td>
                    <td>{{class["hab1"]}}</td>
                    <td><a class="nav-link" href="/delete">Delete</a></td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}