<!doctype html>
<html lang="ca">
<head>
    <title>Proyecto personal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/clases">Clases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/razas">Razas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/armaduras">Armaduras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/armas">Armas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/items">Items</a>
            </li>
            <div class="container">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update-db">Añadir a base de datos</button>
                    <form action="/subida" method="GET">
                        <div class="modal fade" id="update-db" tabindex="-1" role="dialog" aria-labelledby="update-db" aria-hidden="true" data-backdrop="false">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="update-db-moal">Añadir a db</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-md-5">
                                            Nombre de la clase
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Nombre">
                                        </div>
                                        <div class="form-group col-md-5">
                                            Descripcion
                                            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion">
                                        </div>
                                        <!-- Cuadro para añadir el stat -->
                                        <div class="form-group col-md-3">
                                            Stat
                                              <input type="text" class="form-control" name="stat_bonus" id="stat_bonus" placeholder="Stat">
                                        </div>
                                        <div class="form-group col-md-5">
                                            Dados Vida
                                            <input type="text" class="form-control" name="dados_pv" id="dados_pv" placeholder="Dados PV">
                                        </div>
                                        <div class="form-group col-md-5">
                                            Dados Magia
                                            <input type="text" class="form-control" name="dados_pm" id="dados_pm" placeholder="Dados PM">
                                        </div>
                                        <div class="form-group col-md-5">
                                            Licencias
                                            <input type="text" class="form-control" name="licencias" id="licencias" placeholder="Licencias">
                                        </div>
                                        <!-- Cuadro para añadir la habilidad -->
                                        <div class="form-group col-md-3">
                                            Habilidades
                                            <input type="text" class="form-control" name="hab1" id="hab1" placeholder="Hab1">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </div>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container p-4">
            {% block content %}
            {% endblock%}
    </div>

</main>

<footer class="container">
    <p>&copy; Jonathan De Leon Sola</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>