{% extends "layout.html" %}

{% block content%}

    <div class="jumbotron">
        <h2>Razas de Final Fantasy</h2>

        A continuación se muestran las razas disponibles para la creación de personaje asi como sus modificadores y habilidades

        <table class="table table-striped">
        <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre de la raza</th>
              <th>Juego de origen</th>
              <th>Stats bonus</th>
              <th>Habilidades de raza</th>
            </tr>
        </thead>
        <tbody class="searchable">
        {% for raza in razas %}
                <tr>
<!--                  <td data-toggle="tooltip" data-placement="left" title="{{raza['name']}}"><img src="https://vignette.wikia.nocookie.net/finalfantasy/images/7/7e/Sky_Warrior_RW.png/revision/latest?cb=20161005215920"> </td>-->
                  <td>{{raza["name"]}}</td>
                  <td>{{raza["origen"]}}</td>
                  <td>{{raza["stat1"]}}</td>
                  <td>{{raza["Hab1"]}}</td>
                  <td>{{raza["Hab2"]}}</td>
                  <td>{{raza["Hab3"]}}</td>
                  <td>{{raza["Hab4"]}}</td>
                  <td>{{raza["Hab5"]}}</td>
                  <td>{{raza["Hab6"]}}</td>
                  <td>{{raza["Hab7"]}}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}